body {
  font-family: Calibri, sans-serif;
  background: #404040;
  margin: 0;
  height: auto;
}

h1,
h2 {
  color: #ffffff;
  margin: 5px;
  padding: 5px;
}

.flex-container {
  display: flex;
  flex-wrap: wrap;
  padding: 5px;
}

.model-viewer {
  flex: 2;
  background: #202020;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
  min-width: 300px;
}

.asset-info {
  flex: 1;
  background: #202020;
  border: 1px solid black;
  padding: 5px;
  margin: 5px;
}

.model-viewer p {
  color: blue;
  background: #909090;
}

.asset-info p {
  color: white;
}


:not(:defined)>* {
  display: none;
}

model-viewer {
  width: 100%;
  height: 600px;
  background-color: rgb(43, 43, 43);
}

/* Model Viewer Styles */
.progress-bar {
  display: block;
  width: 33%;
  height: 10%;
  max-height: 2%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
  border-radius: 25px;
  box-shadow: 0px 3px 10px 3px rgba(0, 0, 0, 0.5), 0px 0px 5px 1px rgba(0, 0, 0, 0.6);
  border: 1px solid rgba(255, 255, 255, 0.9);
  background-color: rgba(0, 0, 0, 0.5);
}

.progress-bar.hide {
  visibility: hidden;
  transition: visibility 0.3s;
}

.update-bar {
  background-color: rgba(255, 255, 255, 0.9);
  width: 0%;
  height: 100%;
  border-radius: 25px;
  float: left;
  transition: width 0.3s;
}

#ar-button {
  background-image: url(imgs/ar_icon.png);
  background-repeat: no-repeat;
  background-size: 20px 20px;
  background-position: 12px 50%;
  background-color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
  bottom: 16px;
  padding: 0px 16px 0px 40px;
  font-family: Roboto Regular, Helvetica Neue, sans-serif;
  font-size: 14px;
  color: #4285f4;
  height: 36px;
  line-height: 36px;
  border-radius: 18px;
  border: 1px solid #DADCE0;
}

#ar-button:active {
  background-color: #E8EAED;
}

#ar-button:focus {
  outline: none;
}

#ar-button:focus-visible {
  outline: 1px solid #4285f4;
}

@keyframes circle {
  from {
      transform: translateX(-50%) rotate(0deg) translateX(50px) rotate(0deg);
  }

  to {
      transform: translateX(-50%) rotate(360deg) translateX(50px) rotate(-360deg);
  }
}

@keyframes elongate {
  from {
      transform: translateX(100px);
  }

  to {
      transform: translateX(-100px);
  }
}

model-viewer>#ar-prompt {
  position: absolute;
  left: 50%;
  bottom: 60px;
  animation: elongate 2s infinite ease-in-out alternate;
  display: none;
}

model-viewer[ar-status="session-started"]>#ar-prompt {
  display: block;
}

model-viewer>#ar-prompt>img {
  animation: circle 4s linear infinite;
}

/* Button Syles */
#livedatabutton {
  appearance: none;
  background-color: #00b2a2;
  border: 1px solid rgba(27, 31, 35, .15);
  border-radius: 6px;
  box-shadow: rgba(27, 31, 35, .1) 0 1px 0;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: -apple-system, system-ui, "Segoe UI", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  padding: 6px 16px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  top: 5px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  white-space: nowrap;
}

#livedatabutton:focus:not(:focus-visible):not(.focus-visible) {
  box-shadow: none;
  outline: none;
}

#livedatabutton:hover {
  background-color: #029689;
}

#livedatabutton:focus {
  box-shadow: rgba(46, 164, 79, .4) 0 0 0 3px;
  outline: none;
}

#livedatabutton:disabled {
  background-color: #94d3a2;
  border-color: rgba(27, 31, 35, .1);
  color: rgba(255, 255, 255, .8);
  cursor: default;
}

#livedatabutton:active {
  background-color: rgba(46, 164, 79, .4);
  box-shadow: rgba(20, 70, 32, .2) 0 1px 0 inset;
}